/* #ff7978 */
/* #5d54a3 */
/* #37cb89 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ff7978;
}

main {
  width: 85%;
  height: 75%;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

title {
  width: 50%;
  height: 100%;
}

.title h1 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.title p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.form {
  min-width: 50%;
  height: 100%;
}

.form .ad {
  width: 100%;
  background-color: #5d54a3;
  color: #fff;
  padding: 18px;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.238);
}

.form .ad span {
  color: #ddd;
}

form {
  background-color: #fff;
  height: calc(90% - 25px - 18px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.238);
}

.form #btn {
  border: 0;
  border: 1px solid rgb(79, 79, 79);
  border-radius: 5px;
  outline: none;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  
}

.form input {
  padding-left: 20px;
}

.form #btn::placeholder {
  color: rgba(75, 75, 75, 0.616);
}

.form-btn {
  text-align: center;
  background-color: #37cb89;
  border: 0 !important;
  font-size: 14px !important;
  outline: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s;
}

.form-btn:hover {
  background-color: #27a46c;
}

form p {
  font-size: 13px;
  color: rgb(112, 112, 112);
}

form p a {
  text-decoration: none;
  color: #ff6565;
}

@media (max-width: 600px) {
  .form #btn::placeholder {
    font-size: 12px;
  }

  .form-btn {
    font-size: 12px !important;
  }

  form p {
    font-size: 10px;
  }
  form {
    padding: 15px;
  }

  .title h1{
    font-size: 34px;
  }

  .title p {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .title {
    text-align: center;
  }

  .form {
    margin-top: 40px;
  }
}